@use '../config/variables' as var;

.btn {
  padding: 0.25rem 1rem;
  text-align: center;
  font-size: 32px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  &-- {
    &primary {
      background-color: var.$primary-color;
      color: var.$dark-primary-color;
      border-color: var.$dark-primary-color;
      &:hover {
        background-color: var.$dark-primary-color;
        color: var.$primary-color;
        border-color: var.$primary-color;
      }
    }
    &dark-primary {
      background-color: var.$dark-primary-color;
      color: var.$primary-color;
      border-color: var.$primary-color;
      &:hover {
        background-color: var.$primary-color;
        color: var.$dark-primary-color;
        border-color: var.$dark-primary-color;
      }
    }
    &gold {
      background-color: var.$gold;
      color: var.$dark-cash-color;
      border-color: var.$dark-cash-color;
      &:hover {
        background-color: var.$dark-cash-color;
        color: var.$gold;
        border-color: var.$dark-cash-color;
      }
    }
    &store {
      background-color: var.$cash-color;
      color: var.$dark-cash-color;
      border-color: var.$dark-cash-color;
      &:hover {
        background-color: var.$dark-cash-color;
        color: var.$cash-color;
        border-color: var.$dark-cash-color;
      }
    }
    &white {
      background-color: var.$white;
      color: var.$text-color;
      border-color: var.$text-color;
      &:hover {
        background-color: var.$gray;
        color: var.$white;
        border-color: var.$gray;
      }
    }
    &error {
      background-color: var.$error;
      color: var.$dark-error;
      border-color: var.$dark-error;
      &:hover {
        background-color: var.$dark-error;
        color: var.$error;
        border-color: var.$dark-error;
      }
    }
    &warning {
      background-color: var.$warning;
      color: var.$dark-warning;
      border-color: var.$dark-warning;
      &:hover {
        background-color: var.$dark-warning;
        color: var.$warning;
        border-color: var.$dark-warning;
      }
    }
    &sm {
      font-size: var.$default-font-size;
      padding: 0.25rem 0.5rem;
    }
    &lg {
      font-size: var.$default-font-size * 1.5;
    }
    &md {
      font-size: var.$default-font-size * 1.25;
    }
    &outline {
      background-color: transparent !important;
    }
    &border {
      border: 4px solid;
    }
    &icon {
      line-height: 1;
      padding: 0.5rem !important;
    }
  }
}
