$primary-color: #5bce4e;
$dark-primary-color: #044410;
$secondary-color: #d30a40;
$dark-secondary-color: #720220;
$blue: #004aad;
$cash-color: #ffd426;
$dark-cash-color: #5b4900;
$text-color: #212529;
$light-text-color: #f5f5f5;
$white: #ffffff;
$gray: #474747;
$light-gray: #d9d9d9;
$gold: #ffde59;
$sucess: #41b93c;
$dark-success: #1f553a;
$error: #d30a40;
$dark-error: #720220;
$warning: #ffbd08;
$dark-warning: #df6908;

// Font variables
$font-primary: 'Jersey 15', sans-serif;
$font-secondary: 'Jersey 10', sans-serif;
$default-font-weight: 400;
$title-line-height: 1.2;
$bold-font-weight: 700;
$default-line-height: 1.5;
$default-font-size: 18px;
